body {
	background-color: seashell;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "VT323", monospace;
	margin: 0;
	min-height: 100vh;
}

.flex {
	display: flex;
	justify-content: center;
	flex: 1;
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.right {
	flex: 2;
}

.container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	width: 500px;
	height: 500px;
	border: black solid 5px;
}

.grid {
	background-color: white;
	user-select: none;
}

.colored {
	background-color: black;
}

.grid:hover {
	background-color: yellow;
}

button {
	background-color: #ea4c89;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 4px 12px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: top;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 64px;
	height: 25px;
}

.set-btn:hover,
.set-btn:focus {
	background-color: #f082ac;
}

input[type="text"] {
	border: 2px solid #f082ac;
	border-radius: 4px;
	width: 64px;
	height: 25px;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

footer {
	background-color: whitesmoke;
}
